<!DOCTYPE html>
<script>
  function add_field()
  {
    var total_text=document.getElementsByClassName("input_text");
    total_text=total_text.length+1;
    field_div = document.getElementById("field_div");
    new_input = "<li id='input_text"+total_text+
    "_wrapper'><input type='text' class='input_text' name='input_text[]' id='input_text"+
    total_text+"' placeholder='Enter Sync process id'></li>";
    field_div.insertAdjacentHTML('beforeend',new_input);
  }
  function remove_field()
  {
    var total_text=document.getElementsByClassName("input_text");
    document.getElementById("input_text"+total_text.length+"_wrapper").remove();
  }

</script>


<div class="container">
    <form action='/sync_diffs' method="post">
        <div id="wrapper">
            <p>DB credentials: For example: ADAPTERCONF/ADAPTERCONF@10.234.38.117:1521/PLDACE11</p>
            <input type="text" name="username" placeholder="username" required/> <b> / </b>
            <input type="text" name="password" placeholder="password" required/> <b> @ </b>
            <input type="text" name="hostname" placeholder="hostname" required/> <b> : </b>
            <input type="text" name="port" placeholder="port" required/> <b> / </b>
            <input type="text" name="SID" placeholder="SID" required/>
            <p>Output file name: <input type="text" name="output_file" required/></p>
            <h2>Sync ids:</h2>
            <input type="button" value="Add Sync process id" onclick="add_field();">
            <input type="button" value="Remove Sync process id" onclick="remove_field();">
            <ol id="field_div">

            </ol>
        </div>
        <button type="submit" value="submit">Submit</button>
    </form>
</div>